| Software            | Version             | Type                | License             |
| :------------------ | :------------------ | :------------------ | :------------------ |
{{- range .Artifacts}}
|{{.Name}}|{{.Version}}|{{.Type}}|{{.Licenses}}
{{- end}}
